body,
html {
  background: url(../IMAGES/mscback.png);
  background-size: 1100px 900px;

}

button{
  position: relative;
}

.mscvid-head {
  font-size: 110px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  color: aliceblue;
  font-weight: bold;
}

.mscvid-sub {
  font-size: 25px;
  font-family: "home";
  text-align: center;
  color: aliceblue;
  background-color: #14bff8;
  opacity: 80%;
  padding: 40px 30px 40px 30px;
  border-radius: 4px;
}



@font-face {
  font-family: "cf1";
    src: url(../FONTS/Jaoren.ttf) format("truetype");
    font-family: "cf2";
    src: url(../FONTS/StampyLight.ttf) format("truetype");
    font-family: "cf3";
    src: url(../FONTS/revertro.ttf) format("truetype");
    font-family: "halovidgame";
    src: url(../FONTS/HALO____.TTF) format("truetype");
    font-family: "joystix";
    src: url(../FONTS/joystix\ monospace.otf) format("opentype");
  font-family: "home";
  src: url(../FONTS/Jaoren.ttf) format("truetype");

}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2,1fr);
  gap:20px;
}

.yanc,
.garage_roof,
.imyourman,.str {
  /* gatop,right,bottom,left */
  padding: 30px 40px 30px 40px;
  /* text-align: center; */
  font-size: 24px;
  background-color: #0909f5;
  font-family: "home";
  border-radius: 8px;
  color: aliceblue;
  opacity: 80%;
  justify-self: left;
  border-color: azure;

}

