body,html{
  background:url(mscback.png);
  background-size:1100px 900px;
  
}

@font-face {
  font-family: "cf1";
  src: url(Jaoren.ttf) format("truetype");
  font-family: "cf2";
  src: url(StampyLight.ttf) format("truetype");
  font-family: "cf3";
  src: url(revertro.ttf) format("truetype");
  font-family:"halovidgame";
  src: url(HALO____.TTF) format("truetype");
  font-family:"joystix";
  src: url(joystix\ monospace.otf) format("opentype");
  font-family: "home";
  src: url(Jaoren.ttf) format("truetype");

}
.yanc{
  /* top,right,bottom,left */
  padding:30px 40px 30px 40px;
  text-align: center;
  font-size: 24px;
  background-color: #0909f5;
  font-family: "home";
  border-radius: 8px;
  color:aliceblue;
  opacity:80%;
  align-content: center;
 
  
}

